spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/mhbdb
    username: postgres
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update

server:
  port: 8080

jwt:
  secret: YjI0Y2IzNmM5ZDUxNGJjZmQ1OWU4MTY0NzZkYjQ2NzJhYmY4YzY3ZDUxMzFlYjU0ZTQyODRhZWE5YQ==
  access-token-expiration-ms: 900000        # 15 minutes
  refresh-token-expiration-ms: 604800000    # 7 days