spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/mhbdb
    username: postgres
    password: 1234
  jpa: 
    hibernate:
      ddl-auto: update

server:
  port: 8080

jwt:
  access-token-expiration-ms: 900000      # ← 15 minutes only
  refresh-token-expiration-ms: 2592000000 # ← 30 days (recommended)